* {
    margin: 0;
    padding: 0;
    font-family: 'Sofia Pro', 'Helvetica', 'Arial', 'sans-serif';
}

/* Header */
header {
    /* position: fixed; */
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;
    background-color: #c8102e;
    overflow: hidden;
}

#nav-link-cont {
    list-style: none;
    margin: 0 0 0 36px
}

#nav-link-cont li{
    display: inline;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 0 20px;
}

#nav-link-cont li a{
    color: #ffffff;
    text-decoration: none;
}

#menu-nav-link:hover {
    font-weight: 600;
    text-decoration: underline;
}

#time-for-good-nav-link:hover {
    font-weight: 600;
    text-decoration: underline;
}

#nav-logo-cont {
    width: 160px;
}

#nav-logo-cont a {
    fill: #ffffff;
}

#account-nav-cont {
    display: flex;
    list-style: none;
    margin: 0 36px 0 0;
}

#account-nav-cont li {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 0 20px;
}

#sign-in-button {
    font-size: 14px;
    font-weight: 600;
    border: 0;
    padding: 7px 22px;
    border-radius: 40px;
    transition: 0.2s;
}

#sign-in-button:hover {
    background-color: rgb(247, 219, 224);
    cursor: pointer;
}

#sign-in-button a {
    color: #c8102e;
    text-decoration: none;
}

#cart-button {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 40px;
    border: none;
    padding: 7px 22px;
    background-color: #c8102e;
}

#cart-button:hover {
    background-color: rgb(136, 10, 30);;
}

#cart-button a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-icon-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    color: #ffffff;
    transition: 0.2s;
}

#cart-icon-cont svg{
    fill: white;
}

#cart-button span {
    margin: 0 0 1px 8px;
}

/* Header End */

/* Main Start */

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sec-one {
    margin: 0 auto;
}

#sec-one-cont {
    display: flex;
    max-width: 1136px;;
    color: #3f2021;
    margin-top: 140px;
}

#sec-one-text-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 0 70px;
}

#sec-one-text-cont h1 {
    font-size: 56px;
    line-height: 1;
    font-weight: bold;
    padding-left: 2px;
    margin-top: 40px
}

#sec-one-text-cont p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px
}

.learn-more-style {
    padding: 14px 14px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #c8202f;
    border: none;
    border-radius: 40px;
    margin-top: 35px;
    transition: 0.2s;
}

.learn-more-style:hover {
    cursor: pointer;
    background-color: rgb(153, 12, 35);
}

#sec-one-img-cont {
    width: 50%;
}

#sec-one-img-cont img{
    width: auto;
}

#sec-one-terms {
    text-align: end;
}

#sec-two {
    max-width: 1136px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.sub-sec-two {
    max-width: 49.5%;
    margin-bottom: 20px;
}

.sub-sec-two-img-cont img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.a {
    background-color: #0d1824;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.sub-sec-lower-cont {
    display: flex;
    padding: 16px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hyundai-sub {
    background-color: #0d1824;
    color: #ffffff;
}

.sec-two-text-cont {
    width: 70%;
}

.sec-two-text-cont h1{
    font-size: 16px;
    font-weight: bold;
}

.sec-two-text-cont p{
    font-size: 14px;
    margin-top: 2px;
}

.sub-sec-two-button-cont {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 0px;
    width: 30%;
}

.sub-sec-two-button-cont button {
    padding: 14px 14px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #c8202f;
    border: none;
    border-radius: 40px;
    transition: 0.2s;
}

.sub-sec-two-button-cont button:hover {
    cursor: pointer;
    background-color: rgba(200, 32, 47, 0.8);
}

#sec-three {
    margin: 0 auto;
}

#sec-three-cont {
    display: flex;
    max-width: 1120px;
    background-color: #3f2021;
    color: #ffffff;
    border-radius: 20px;
    padding: 56px;
    margin-top: 200px;
}

#sec-three-img-cont {
    position: relative;
    width: 40%;
}

#sec-three-img-cont img{
    position: absolute;
    top: -200px;
    right: 20px;
    width: 100%;
}

#sec-three-right-cont {
    width: 40%;
    padding: 40px 80px 40px 120px;
}

#sec-three-text-cont h1{
    font-size: 56px;
    line-height: 1;
}

#sec-three-text-cont p{
    font-size: 16px;
    color: #bfb5b5;
    margin-top: 6px;
}

#sec-three-button-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

#sec-three-button-cont img{
    width: 160px;
}

#sec-three-terms {
    font-size: 13px;
    margin-top: 25px;
}

/* End of Main */

/* Footer */

footer {
    margin-top: 80px;
}

.footer-cont {
    display: flex;
    background-color: #e5e5e5;
    padding: 48px 72px;
    border-bottom: solid #dcd9d9 1px;
    width: 100%;
}

.footer-text-cont {
    width: 33%;
    color: rgb(63, 32, 33);
}

.footer-text-cont ul{
    list-style: none;
}

.footer-text-cont h1{
    font-size: 16px;
    font-weight: bold;
}

.footer-text-cont li{
    font-size: 16px;
}

.footer-two-list {
    margin-bottom: 4px;
}

#footer-two-connect-list{
    margin-top: 4px;
}

#footer-two-connect-list {
    display: flex;
    margin-left: -6px;
}

#footer-two-connect-list a{
    width: 26px;
    height: 26px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

#footer-two-connect-list svg{
    width: 16px;
    height: 16px;
}

#footer-two-connect-list a:hover{
    cursor: pointer;
    background-color: rgb(153, 12, 35);;
    fill: white;
}

#footer-tims-tm {
    /* padding: 48px 72px; */
}